html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}
.container {
    margin: 20px;
    *zoom: 1;
}
.header {
    position: relative;
    height: 65px;
    padding: 0 0 10px 20px;
    margin: 0 0 20px 0;
    background-color: #ffffff;
    border-bottom: solid 1px #999999;
}
.header:before, .header:after {
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.4);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  position: absolute;
  left: 10px;
  bottom: 12px;
  z-index: -1;
  width: 50%;
  max-width: 400px;
  height: 20%;
  content: "";
}
.groupcontainer {
    float: left;
    width: auto;
    margin-right: 25px;
    padding-right: 25px;
    border-right: solid 1px #999999;
}
.groupcontainer:last-child {
    margin-right: 0px;
    padding-right: 0px;
    border-right: none;
}
.tablecontainer {
    margin-bottom: 5px;
}
.tablecontainer .add {color: green;}
.tablecontainer .change {color: orange;}
.tablecontainer .delete {color: red;}
.tablename {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
}
.tablename:hover {
    text-decoration: underline;
}
.tablename .add {
    display: inline-block;
    margin: 0 0 0 2px;
    background-color: green;
    height: 10px;
    width: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.tablename .change {
    display: inline-block;
    margin: 0 0 0 2px;
    background-color: orange;
    height: 10px;
    width: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.tablename .delete {
    display: inline-block;
    margin: 0 0 0 2px;
    background-color: red;
    height: 10px;
    width: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.tablenotes {
    font-size: 12px;
    max-width: 250px;
    padding-bottom: 5px;
}
.columncontainer {
    display: none;
    padding: 0px 0px 5px 15px;
}
.columnname {
    font-size: 16px;
}
.attrcontainer{
    display: none;
    padding: 0px 0px 10px 15px;
}
.attrcontainer .add {color: green;}
.attrcontainer .change {color: orange;}
.attrcontainer .delete {color: red;}
.attrname {font-size: 14px;}

/* Action items */
.actions {
    margin: 0 20px 0 20px;
}
.actions .status {
    float: left;
    text-align: center;
    padding: 0 10px 0 10px;
    width: 270px;
    height: 50px;
    border-right: solid 1px #999999;
}
.actions .status .add {color: green;}
.actions .status .change {color: orange;}
.actions .status .delete {color: red;}
.actions .showhide {
    float: left;
    text-align: center;
    padding: 0 10px 0 10px;
    width: 220px;
    height: 50px;
    border-right: solid 1px #999999;
}
.actions .showhide .items span {
    margin: 0 8px 0 8px;
    cursor: pointer;
}
.actions .showhide .items span:hover {
    text-decoration: underline;
}
.actions .showhide .items span.all {color: blue;}
.actions .showhide .items span.add {color: green;}
.actions .showhide .items span.change {color: orange;}
.actions .showhide .items span.delete {color: red;}
.actions .showhide .items span {
    margin: 0 8px 0 8px;
    cursor: pointer;
}
.actions .process {
    float: left;
    text-align: center;
    padding: 0 10px 0 10px;
    width: 280px;
    height: 50px;
    border-right: solid 1px #999999;
}
.actions .process .items span.all {font-weight: bold; color: blue;}
.actions .process .items span.add {font-weight: bold; color: green;}
.actions .process .items span.change {font-weight: bold; color: orange;}
.actions .process .items span.delete {font-weight: bold; color: red;}
.actions .process .items span {
    margin: 0 4px 0 4px;
    padding: 5px 8px 5px 8px;
    cursor: pointer;
    border-radius: 8px; 
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px; 
    border: 1px solid #999999;
}
.actions .process .items span:hover {
    text-decoration: underline;
}
.actions .setup {
    float: left;
    text-align: center;
    padding: 0 10px 0 10px;
    width: 150px;
    height: 50px;
    border-right: solid 1px #999999;
}
.actions .setup .click {
    cursor: pointer;
    color: green;
}
#setup {
    display: none;
    margin: 20px 0px 20px 100px;
}
#setup .title {

}
.actions .hints {
    float: left;
    text-align: center;
    padding: 0 10px 0 10px;
    width: 150px;
    height: 50px;
    border-right: solid 1px #999999;
}
.actions .hints .click {
    cursor: pointer;
    color: green;
}
#hints {
    display: none;
    margin: 20px 0px 20px 100px;
}

/* Misc */
h1{
    font-size: 36px;
    line-height: 40px;
    margin: 10px 0 0 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}
h1 .green {color: #2D9933;}
h3 {
    font-size: 18px;
    margin: 0;
    font-family: inherit;
    color: inherit;
    text-rendering: optimizelegibility;
}
h4 {
    font-size: 14px;
    margin: 0;
    font-family: inherit;
    color: inherit;
    text-rendering: optimizelegibility;
}
.width50{width: 50px;}
.width75{width: 75px;}
.width80{width: 80px;}
.width100{width: 100px;}
.width110{width: 110px;}
.width150{width: 150px;}
.inline{display: inline-block;}
.clear {clear: both;}
.center {text-align: center;}

ul,
ol {
  padding: 0;
  margin: 0 0 10px 40px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 20px;
}

/* Notifications */
.successmessage {
    padding: 15px;
    margin: 30px 50px 30px 50px;
    text-align: left;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #22cc00;
    color: #000000;
    background-color: #c7ffbc;
}
.errormessage {
    padding: 15px;
    margin: 30px 50px 30px 50px;
    text-align: left;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #ff0000;
    color: #000000;
    background-color: #ffc4c4;
}
.warningmessage {
    padding: 15px;
    margin: 30px 50px 30px 50px;
    text-align: left;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #d6d900;
    color: #000000;
    background-color: #feffbc;
}